In [ ]:
def welcome(name,marks):
  print(" hello "+name+" you have "+str(marks)+" marks in python ")

In [ ]:
welcome("nishant",70)

 hello nishant you have 70 marks in python

In [ ]:
def welcome(name,marks=65):
  print(" hello "+name+" you have "+str(marks)+" marks in python ")

In [ ]:
welcome("nishant")

 hello nishant you have 65 marks in python

In [ ]:
welcome("")

 hello  you have 65 marks in python

In [ ]:
welcome("nishant",85)

 hello nishant you have 85 marks in python

In [ ]:
def my_function(*students):
  print("The youngest student is " + students[2])

my_function("nishant", "gaurav", "aashish")

The youngest student is aashish

##Keyword Arguments

In [ ]:
def my_function(student3, student2, student1):
  print("The youngest student is " + student3)

my_function(student1 = "nishant", student2 = "luv", student3 = "gaurav")

The youngest student is gaurav

#Arbitrary Keyword Arguments, **kwargs

In [ ]:
def my_function(**student):
  print("His last name is " + student["lname"])

my_function(fname = "nishant", lname = "aashish")

His last name is aashish